# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/

# Environments
.env
.env.*

# VS Code
.vscode/

# PyInstaller / EXE builds
build/
dist/
*.spec

# User settings
*.ini
.DS_Store
